.box-file{
    display: flex;
    height: 230px;
    width: 300px;
    border: 1px solid #fff;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.Title-Box{
    height: 30px;
    background: transparent;
    backdrop-filter: blur(30px);
    border-radius: 10px 10px 0 0;
    border-top: 1px solid #fff;
    word-wrap: break-word;
    text-align: center;
    color: #fff;
}